body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Helvetica;
    background-color: #e2e8f0;
    flex-direction: column;
}

:root {
    font-size: 16px;
    --nav-item-width: 9rem;
    --nav-item-height: 2rem;
    --nav-item-padding: 1rem; 
}

nav {
    background-color: #fff;
    padding: var(--nav-item-padding);
    border-radius: var(--nav-item-height);
    position: relative;
}

nav::after {
    content: ''; /*设置content才会显示after和before*/
    display: block;
    width: calc(var(--nav-item-width) - var(--nav-item-padding));
    height: calc(var(--nav-item-height) + var(--nav-item-padding));
    margin: calc(var(--nav-item-padding) / 2) var(--nav-item-padding);
    position: absolute;
    border-radius: calc(infinity * 1px);
    background-color: #cbd1d8;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: var(--nav-item-height);
    z-index: 10;
    position: relative;
}

nav ul li {
    font-size: 1.3rem;
    width: calc(var(--nav-item-width) - var(--nav-item-padding));
    text-align: center;
}

#nav-home:checked ~ nav::after {
    transform: translateX(calc((var(--nav-item-width) - var(--nav-item-padding)) * 0));
    transition: transform .4s ease-in-out;
}
#nav-products:checked ~ nav::after {
    transform: translateX(calc((var(--nav-item-width) - var(--nav-item-padding)) * 1));
    transition: transform .4s ease-in-out;
}
#nav-about:checked ~ nav::after {
    transform: translateX(calc((var(--nav-item-width) - var(--nav-item-padding)) * 2));
    transition: transform .4s ease-in-out;
}
#nav-contact:checked ~ nav::after {
    transform: translateX(calc((var(--nav-item-width) - var(--nav-item-padding)) * 3));
    transition: transform .4s ease-in-out;
}